[submodule "LMS-image-reconstruction"]
	path = 9-IFU-image-reconstruction
	url = https://github.com/sesquideus/anastasis.git
[submodule "PyReduce_ELT"]
	path = 5a-LSS-wavelength-calibration-PyReduce-ELT
	url = https://github.com/nadsabha/PyReduce_ELT
[submodule "11-metis-pip-adi-reduce"]
	path = 11-ADI-algorithm
	url = https://github.com/gotten/11-metis-pip-adi-reduce.git
